<!DOCTYPE html>
<html lang="en">  <!---Attribute tag that lets you know which language its written in-->
<head> <!---HTML head tag where all the metadata goes.s-->
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title> <!--This signfiys the title of the Document which is useful for SEO and accessibility reasons. -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
    <link rel="stylesheet" href="css/style.css"> <!---This links our stylesheet to the HTML-->
</head> <!---Closing HTML head tag-->
<body> <!--THis is the opening body tag where all the content goes -->
    <h1>Todo List: </h1> <!--This is H1 header tag called Todo List-->
    <ul class="todoItems">
    <% for(let i=0; i < items.length; i++) {%>
        <li class="item">
            <% if(items[i].completed === true) {%>
                <span class='completed'><%= items[i].thing %></span>
            <% }else{ %>
                <span><%= items[i].thing %></span>
            <% } %>
            <span class='fa fa-trash'></span>
        </li>
    <% } %>
    </ul>

    <h2>Left to do: <%= left %></h2>

    <h2>Add A Todo:</h2> <!---H2 tag which says Add a todo-->

    <form action="/addTodo" method="POST">
        <input type="text" placeholder="Thing To Do" name="todoItem">
        <input type="submit">
    </form>


    <script src='js/main.js'></script> <!---This is a script tag that will allow us to use our js file on our site-->
</body>
</html>
